<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <img width="400px" height="200px" src="https://cdn-images-1.medium.com/max/800/1*qdFdhbR00beEaIKDI_WDCw.gif" alt="">
            <h1 class="mt-2">Page Not Found</h1>
            <p>We're sorry, the page you requested could not be found.</p>
        <p>Please go back to the home page or contact us at support@start.me</p>
            <button class="btn btn-primary mb-2">Back to Home </button>
    </div>
    </div>
</div>